.App {
    display: flex;
    margin: 0 auto;
    max-width: 1100px;
    color: #0e4f4f;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.counter-wrapper {
    text-align: center;
    width: 400px;
    height: 300px;
    margin: 150px auto;
    border-radius: 10px;
    border: 1px solid #0e4f4f;
    box-shadow: 0 0 10px #0e4f4f;
    background-color: #dfffff;

}

.input {
    width: 80%;
    height: 50px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #6ae0e0;
    font-size: 1.5em;
    border: 1px solid #0e4f4f;
}

.display {
    width: 350px;
    height: 180px;
    margin: 10px auto;
    border: 1px solid #0e4f4f;

    background-color: #6ae0e0;
    border-radius: 10px;
    font-weight: bold;

}

.display div {
    font-size: 100px;

}
.display p {
    font-size: 20px;
    color: #ab1717;
}

.button-wrapper {
    display: flex;
    width: 350px;
    height: 80px;
    margin: 10px auto;
    border: 1px solid #0e4f4f;
    border-radius: 5px;
}

.buttons {
    margin: 10px auto;
}

.button {
    width: 140px;
    height: 50px;
    background-color: #6ae0e0;
    color: #0e4f4f;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
}

.button-disabled {
    background-color: #6ae0e0;
    opacity: 0.2;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
}
